# OS & Environment
.DS_Store
Thumbs.db
node_modules/
.vscode/

# --- Audio Files ---
*.mp3
*.wav
*.ogg
*.flac
*.aac
*.opus
*.m4a
*.wma
*.aiff
*.aif
*.aifc
*.alac
*.pcm
*.dsf
*.dff

# --- Video Files ---
*.mp4
*.avi
*.mkv
*.mov
*.wmv
*.flv
*.webm
*.mpg
*.mpeg
*.m4v
*.3gp
*.ts

# Specific Processed Files (Output by script)
*_processed.*