node_modules/
.DS_Store

# 音声ファイル等
*.mp3
*.wav
*.ogg
*.flac
*.aac
*.opus
*.m4a
*.wma
*.aiff
*.alac
*.pcm
*.aif
*.aifc
*.aiffc
*.aifc

# 動画ファイル等
*.mp4
*.avi
*.mkv
*.mov
*.wmv
*.flv
*.mpeg
*.mpg
*.webm
*.mpeg4
*.mpeg-4
